---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Sample Items" height="300" %}

    {% include feature/image.html objectid="/assets/img/shirleyHouseBombProofs.webp" width="75" caption="Shirley House with bomb-proof shelters, Vicksburg, Mississippi; Old Courthouse Museum, Vicksburg, Mississippi"%}

  </div>
  <div class="col-md-4">

    <div class="alert alert-warning" role="alert">
      <h5 class="alert-heading">Content Warning</h5>
      <p class="mb-0">This collection contains historical materials that reflect the attitudes, prejudices, and language of the time period in which they were created. Some content may be harmful or difficult to view. These materials are presented for their historical value and to document the past, but they do not reflect the values of the University of Texas at Austin or the Briscoe Center for American History.</p>
    </div>

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
  
</div>